<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="username" value="admin"/>
    <add key="password" value="123123"/>
    <add key="connectionString" value="data source=.\;initial catalog=QLDA_TediSouth;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
  </appSettings>
  <connectionStrings>
    <add name="connectionString" connectionString="data source=.\;initial catalog=QLDA_TediSouth;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="TediSouth.Properties.Settings.QLDA_TediSouthConnectionString"
      connectionString="Data Source=.\;Initial Catalog=QLDA_TediSouth;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>